<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <%= link_to 'Back to Portfolio Page', portfolios_path %></a>
    </p>
    <p>
      <%= copyright_generator %>
    </p>
  </div>
</footer>
